{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <div class = "row">
          <div class = "col-md-6">
            <h1>{{ .Title }}</h1>
            <h5>{{ .Params.name }}</h3>
            <h5><a href ={{ .Params.link}}>See full version</a></h3>
            {{ .Content }}
          </div>
          <div class = "col-md-6">
            <img src="/{{ .Params.image }}" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}



