{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
            <h1>{{ .Title }}</h1>
            {{ with .Params.name }}<h5>{{ . }}</h5>{{ end }}
            
            {{ with .Params.link }}
              <h5><a href ={{ . }}>See full version</a></h5>
            {{ end }}
            
            {{ if and (isset .Params "link") (isset .Params "image") }}
              <a href ={{ .Params.link}}><img src="/{{ .Params.image }}" alt="" class="img-responsive"></a>
            {{ else if (isset .Params "image") }}
            <img src="/{{ .Params.image }}" alt="" class="img-responsive">
            {{else}} 
            {{ end }}
          
            <p>
              {{ .Content }}
            </p>
          
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}



